{% extends "base.html" %}

{% block head %}

<title>Zakupy domowe</title>

{% endblock %}

{% block body %}
<div class="content">
    <h1>Zakupy do domu🏡</h1>
    <a href="/">Wróć do listy zadań</a>

    {% if home_purchases|length < 1 %}
    <h3>Lista zakupów domowych pusta...!</h3>
    {% else %}
    <table>
        <tr>
            <th>Zakupy</th>
            <th>Data dodania</th>
            <th>Akcje</th>
            <th>Kto</th>
        </tr>
        {% for home_purchase in home_purchases %}
            <tr>
                <td>{{home_purchase.description}}</td>
                <td>{{home_purchase.date_added.strftime("%d-%m-%Y")}}</td>
                <td>
                    <a href="/for_home/delete/{{home_purchase.id}}">Usuń</a>
                    <br>
                    <a href="/for_home/update/{{home_purchase.id}}">Edytuj</a>
                </td>
                <td>{{home_purchase.who_buys}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/for_home" method="POST">
        <input type="text" name="description" id="description">
        <label for="who_buys">Przypisz osobę</label>
        <select name="who_buys" id="who_buys">
            <option value=""></option>
            <option value="Zuza">Zuza</option>
            <option value="Seba">Seba</option>
        </select>
        <input type="submit" value="Dodaj zakup do domu", id="btn_add">
    </form>
</div>

{% endblock %}