{% extends "base.html" %}

{% block head %}

<title>Zadania do wykonania</title>

{% endblock %}

{% block body %}
<div class="content">
    <h1>Zadania do wykonania📋</h1>
    <a href="/for_home">Lista zakupów do domu</a>

    {% if tasks|length < 1 %}
    <h3>Brak zadań do wykonania...dodaj jakieś!</h3>
    {% else %}
    <table>
        <tr>
            <th>Zadania</th>
            <th>Data dodania</th>
            <th>Akcje</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{task.content}}</td>
                <td>{{task.date_created.strftime("%d-%m-%Y")}}</td>
                <td>
                    <a href="/delete/{{task.id}}">Usuń</a>
                    <br>
                    <a href="/update/{{task.id}}">Edytuj</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Dodaj zadanie", id="btn_add">
    </form>
</div>

{% endblock %}